@media screen and (min-width: 375px) and (orientation:portrait){
 
  .inicio{
      zoom: 220%;
  }

}
.canto{
 font-size: 22px;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.titulo{
    position: absolute;
    top: 30%; /* Posiciona o topo da div no meio da janela */
    left: 50%; /* Posiciona a esquerda da div no meio da janela */
    transform: translate(-50%, -50%); /* Centraliza completamente a div */
    font-family: 'Montserrat',sans-serif;
    /* Estilos adicionais para a div centralizada */
    width:300px;
    height: 150px;
   
}
#comeco{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    animation:forwards;
    background-color: #DCDCDC;
    border-radius: 13px;
    border-color: transparent;
    size: 1000px;
    padding: 15px 15px;
}
.blue {
    background-color: #007bff; 
    top: 50px; 
    left: 40px; 
    width: 130px;
  height: 130px;
  }
  
  .pink {
    
    background-color: #ff00ff; 
    top: 70px; 
    right: 70px; 
    width: 170px;
  height: 170px;
  }
  
  .green-light {
    background-color: #00ff00; 
    bottom: 80px; 
    left: 120px; 
    width: 100px;
  height: 100px;
  }
  .yellow{
    background-color: #fff000; ;
    bottom: 50px;
    right: 120px;
    width: 120px;
    height: 120px;
  }
  .blue-light{
    background-color: #ade6d8; 
    top: 210px; 
    left: 140px; 
    width: 90px;
  height: 90px;
  }
  .purple{
    background-color: #9300ff;
    top: 310px;
    right: 60px;
    width: 80px;
    height: 80px;
  }
  .green{
    background-color: #678170;
    top: 340px;
    left: 70px;
    width: 70px;
    height: 70px;
  }
  .circle
  {
    
  border-radius: 50%;
  position: absolute;
  }
  
  
  
  
  
  